<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="static/css/style.css" >
        <title>WE CONNECT-register</title>
    </head>
    <body>
        <div class="container">

  <body style="background-color:rgb(255, 255, 255);">
    <header>
            <div class ="container" style="margin-bottom:30px;">
              <div class ="row">
                  <div class=col-12>
                    <nav class="navbar navbar-inverse navbar-light text" style="background-color : #944660;" >
                      <a class="navbar-brand " href="#">
                      <img src="../static/images/logo.jpg" width="150" height="150" class="d-inline-block align-top " alt="">
                     <h2>WE CONNECT - Business Network</h2>
                      </a>
                      <a  class="nav-item nav-link text" href="login.html"><button>SignIn</button></a>
                    </nav> 
                  </div>      
              </div>  
            </div>  
          </header>       
            <div class ="container">
                <div class ="row">
                    <div class=col-12>
                      <div class="jumbotron" style="background-color:rgb(166, 232, 244);">
                          <h1 class="display-5 align">Welcome To We Connect</h1>
                          <hr class="my-4">
                          <p class="align"> Please Register below to join the Network!</p>
                          <hr class="my-4">

                          <div class="container center">
                          <div class=col-10 >
                          
                            <!-- User name input-->
                    <div class="form-group">
                            <label class="control-label" for="username">Username</label>
                            <div class="col">
                                <input type="text" class="form-control" id="username" required>
                            </div><!--column-->
                        </div><!--form group-->
    
                        <!-- Email input-->
                        <div class="form-group">
                            <label class="control-label align-content-around" for="email">Email</label>
                            <div class="col">
                                <input type="email" class="form-control" id="email" required>
                            </div><!--column-->
                        </div><!--form group-->
    
                        <!-- Password input-->
                        <div class="form-group">
                            <label class="control-label align-content-around" for="password">Password</label>
                            <div class="col">
                                <input type="password" class="form-control" id="password" required>
                            </div><!--column-->
                        </div><!--form group-->
    
                        <!-- Sign Up button-->
                        <div class="form-group text-center">
                            <button class="btn btn-info btn-block" type="submit">Sign me Up!</button>
    
                            <p class="align-content-center">Already have an account? 
                                <a href=/api/auth/v1/login> Log In </a>
                            </p>
                        </div><!--form group-->
                                </div>
                              </div>
                            </form>
                            </div>
                          </div>
                        </div>
     
                </div>
              </div>
            </div>
          
        </div>
        
        <footer>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                  <p class="copyright text-muted">Copyright &copy; We_Connect 2018</p>
                </div>
              </div>
            </div>
          </footer>
      

         <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  
    </body>
</html> 

   
  













   